<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a  class="nav-link text-secondary" routerLink="/profile" routerLinkActive="text-dark">Profile</a>  
            </li>
            <li class="nav-item">
                <a  class="nav-link text-secondary" routerLink="/repositories" routerLinkActive="text-dark">Repositories</a>  
            </li>

        </ul>
    </div>
</nav>
